html,
body {
    width: 100%;    
    font-family: Helvetica, sans-serif;
    font-size: 22x;
    background-color: black;
    color: seashell;
    text-align: center;
    opacity: 0.9;
}


.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 10;
    background-color: black;
    top: 0em;
    
}

nav{
    margin: 10px; 
}

.logo {
    height: 50px;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
}

.nav_link li a{
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    font-size: 22x;
    color: seashell;
    margin: 20px;
}

.content_container{
    display: flex;
    justify-content: center;
    height: 800px;
    max-width: 1200px;
    text-align: center;
    position: relative;
    margin: 0 20px;
    top: 69px;
    z-index: 1;
    overflow: hidden;
    flex-direction: column;
}


.mission{
    display: flex;
    height: 700px;
    width: 100%;
    background-image: url("./images/img-mission-background.jpg");
    align-items: center;
    justify-content: center;
}

.mission_content {
    background-color: black;
    width: 100%;
    margin: 0;
}

.store {
    width: 1000px;
}



.featured .image {
    width: 300px;
    height: 200px;
}